@model HedonismBlog.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Register";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<h2>New user registation</h2>
<h4>@ViewBag.Message</h4>
<form method="post" asp-controller="registration" asp-action="submitregister">
    <div asp-validation-summary="ModelOnly"></div>
@*     <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div> *@
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <input type="submit" value="Register" />
    </div>
</form>