@model HedonismBlog.ViewModels.UserViewModel

@{
    ViewData["Title"] = "UserRole";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<h2>User role</h2>
<div>
    <h4>@Model.Email</h4>
</div>
<form method="post" asp-controller="User" asp-action="SubmitAssignRole">
    <div asp-validation-summary="ModelOnly"></div>
     <div>
        @foreach (var role in Model.Roles)
        {
            <input type="radio" asp-for="RoleName" value="@role.Name" /> @role.Name <br />
        }
    </div>
    <div>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Update" />
    </div>
</form>